<style>
  body {
    margin: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color: #84cc79;
  }

  .active {
    background-color: #83d377;
  }
</style>

<body>
  <ul>
    <li><a href='/'>Moja naročila</a></li>
    <li><a class='active' href='/novo_narocilo'>Novo naročilo</a></li>
    <li><a href='/ponudba'>Ponudba</a></li>
    <li><a href='/spremeni_podatke'>Zamenjaj geslo</a></li>
    <li style='float:right'><a href='/odjava'>Odjava</a></li>
  </ul>
  <div style='padding: 20px; margin-top: 30px; height: 1500px'>
    %if korak == 'priprava naročila' or not naroceno:
    <h2> Vnesite število zelenjavic </h2>
    <form action='/narocilo/' method='post'>
      <table>
        <tr>
          <th>Mikrozelenjava</th>
          <th>Cena v EUR</th>
          <th>Naročam število</th>
        </tr>
        %for zelenjava in zelenjavice:
        %ime = str(zelenjava['zaporedno_stevilo'])
        <tr>
          <td>{{zelenjava['vrsta']}}</td>
          <td>{{zelenjava['cena']}}</td>
          <td> <input type='number' name={{ime}} placeholder='0'></td>
        </tr>
        % end
      </table><br>
      <button type='submit' disabled style='display: none' aria-hidden='true'></button>
      <button type='submit'>Pošljite naročilo</button>
    </form>
  </div>
</body>