<div>
    <h1>Zelenjavica</h1>
    </center>
    <p>Spletna stran za naročila mikro zelenjave. <a href='https://zelenjavica.si/'' target=' _blank'>Več o mikro zelenjavi</a>.</p>
    <br>
</div>

<form action='/registracija'>
    <button style='width: 250px; height: 40px; font-size: 25px; margin: 5px; margin-left: 35px;' type='submit'>
        Registracija
    </button>
    <br>
</form>
<form action='/prijava'>
    <button style='width: 250px; height: 40px; font-size: 25px; margin: 5px; margin-left: 35px;' type='submit'>
        Prijava
    </button>
</form>